body {
}

/*
 * Main page layout
 */

.page {
  margin-top: 60px;
  padding-top: 15px;
  padding-bottom: 150px;
}

#menu {
  padding-top: 40px;
  position: fixed;
}

section {
  padding: 5px;
}
section.columns {
  padding-left:0; padding-right: 0;
}

section { padding-top: 60px; }
section, h1 { margin-bottom: -60px; }

h2 { margin-bottom: 10px; }

footer {
  padding-top: 40px;
}


h3 + p {
  margin-top: 12px;
}
/***
 * Styling
 **/
#menu {
  background-color: #fcfcfc;
  border-color: #fafafa;
}
#menu h3 {
  color: #666;
}
#menu .level2 {
  padding-left: 10px;
}

.nav-list > li.level2 > a {
  color: #888;
}

#menu .fixed-active > a,
#menu .fixed-active > a:hover {
  color: #fff;
  background-color: #58A;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
#menu .active > a,
#menu .active > a:hover {
  color: #004488;
  background-color: #ddd;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#menu li span { color: #000; }
#menu h2 a { color: #404040; }
#menu h2 a:hover { color: #0069d6; }

span.expand-button img {
  padding-left: 4px;
  cursor: pointer;
}

/*** fix for anchor tags with fixed top bar ***/
section.api-call em:before {
  content: "<";
  font-style: normal;
  color: #BBB;
}
section.api-call em {
  font-style: normal;
  color: #999;
}
section.api-call em:after {
  content: ">";
  font-style: normal;
  color: #BBB;
}

section:target h3:before {
  content: "● ";
  color: #669;
  font-weight: bold;
}
section:target h3 {
  margin-left: -20px;
}

section h3 em {
  color: #999;
  font-style: normal;
}
/*
section:target {
  background-color: #fafae6;
}

section:target pre {
  background-color: #f0f0ea;
}
*/

pre pre.input {
  background-color: #eaeaea;
  border: none;
  font-size: 1.1em;
  padding: 8px 0;
}
pre pre.output {
  background-color: #f3f3f3;
  border: none;
  padding: 0;
  margin: 0;
}

/*** Jumbotron ***/
.jumbotron {
  padding: 10px;
}
.jumbotron h1 {
  font-size: 70px;
  margin-bottom: 40px;
}
.jumbotron p {
  color: #888;
  font-size: 22px;
  line-height: 26px;
}

/*** Parameter tables ***/
.table td small { color: #AAA; }
.table td small span { color: #666; }
.label-add { background-color: #468847; }
.label-get { background-color: #3A87AD; }
.label-update { background-color: #a95A00; }

.label-deprecated { background-color: #B94A48; }
.label-deprecated:hover { background-color: #953B39; }

/*** footer styles ***/
footer {
  color: #666;
}

/*** JSON ***/
.json {
  font-family: monospace;
  font-size: 1.1em;
}
.json ul {
  margin: 0 0 0 25px;
  padding: 0;
}
.json li {
  list-style-type: none;
}
.json .key {
  font-weight: bold;
}
.json .string {
  color: green;
}
.json .number, .json .bool {
  color: navy;
}
.json .null {
  color: red;
}

