body {
  padding-top: 60px;
}


.page {
  padding-top: 15px;
}

#menu {
  background-color: #fcfcfc;
  border-color: #fafafa;
}

#menu li span { color: #000; }
#menu h2 a { color: #404040; }
#menu h2 a:hover { color: #0069d6; }

span.extended img.extend {
  padding: 8px;
  cursor: pointer;
}

a:active {
  color: #777;
}
