body {
}


.page {
  margin-top: 60px;
  padding-top: 15px;
}

#menu {
  background-color: #fcfcfc;
  border-color: #fafafa;
  position: fixed;
}
#menu .level2 { padding-left: 10px; }
#menu .active > a,
#menu .active > a:hover {
  background-color: #58A;
}

#menu li span { color: #000; }
#menu h2 a { color: #404040; }
#menu h2 a:hover { color: #0069d6; }

span.extended img.extend {
  padding: 8px;
  cursor: pointer;
}

section {
  padding: 5px;
}

/*** fix for anchor tags with fixed top bar ***/
section { padding-top: 60px; }
section, h1 { margin-bottom: -60px; }
.page { padding-bottom: 120px; }

section.api-call em:before {
  content: "<";
  font-style: normal;
  color: #BBB;
}
section.api-call em {
  font-style: normal;
  color: #999;
}
section.api-call em:after {
  content: ">";
  font-style: normal;
  color: #BBB;
}
/*
section:target {
  background-color: #fafae6;
}

section:target pre {
  background-color: #f0f0ea;
}
*/

pre .input {
  background-color: #eaeaea;
}
pre .output {
  background-color: #f3f3f3;
}

/*** Parameter tables ***/
.label-add { background-color: #468847; }
.label-get { background-color: #3A87AD; }
.label-update { background-color: #a95A00; }

.label-deprecated { background-color: #B94A48; }
.label-deprecated:hover { background-color: #953B39; }
